/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.Form1.resources
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.Properties.Resources.resources
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.csproj.FileListAbsolute.txt
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.csproj.GenerateResource.Cache
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.csprojResolveAssemblyReference.cache
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.exe
/ClipboardImageToFile/obj/Debug/ClipboardImageToFile.pdb
/ClipboardImageToFile/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ClipboardImageToFile/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ClipboardImageToFile/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ClipboardImageToFile/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ClipboardImageToFile/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.Form1.resources
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.Properties.Resources.resources
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.csproj.FileListAbsolute.txt
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.csproj.GenerateResource.Cache
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.exe
/ClipboardImageToFile/obj/Release/ClipboardImageToFile.pdb
/ClipboardImageToFile/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ClipboardImageToFile/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs 
/ClipboardImageToFile/obj/ ClipboardImageToFile/bin/